<div class="row">
    <div class="col-xs-12">
        <img src="images/aboutus.jpg" alt="About us image" style="width:100%" />
    </div>
    <div class="col-xs-12">
        <h3>History of Fondue Fun</h3>
        <p>For nearly 40 years, Fondue Fun has defined the fondue experience niche across the American dining scene and now looks forward
            to continued domestic success as well as continued international expansion.</p>
        <p>The first Fondue Fun opened in April of 1975 in Maitland, Fla., just outside of Orlando. It was a cozy, quaint location, and its
            first menu consisted of just three items: Swiss cheese fondue, beef fondue and a chocolate fondue dessert. However, as the restaurant’s
            popularity expanded, so did its menu and ambiance.</p>
        <p>From the start, the J brothers were diligent in their search for energetic entrepreneurs who were as excited as they were about the
            concept and its potential. Their commitment to building a close knit fondue family proved successful. </p>
        <p>Today, with more than 125 locations across 35 U.S states, Canada, Mexico, Southeast Asia and the Middle East, and more than 15 locations
            in development internationally, Fondue fun Restaurants, Inc. is the premier fondue restaurant. A leading polished casual dining
            franchise, Fondue Fun was recognized as the No. 1 casual dining restaurant in the Nation’s Restaurant News 2015 Consumer Picks
            report.</p>
        <p>At Fondue Fun, fondue truly becomes a memorable dining experience where guests can discover all the ingredients for an
            unforgettable culinary adventure including a relaxed atmosphere, private tables, attentive service, fine wines and signature fondue
            courses.</p>
        <p>Fondue Fun is an affiliate of Front Burner Brands, a restaurant management company headquartered in Tampa, Fla.</p>
    </div>
</div>