<div class="row">
    <div class="col-sm-8 col-md-9 col-lg-12 sub_menu">
        <h4>Cheese fondue</h4>
        <p>Each cheese fondue comes with artisan breads and seasonal vegetables for dipping. Please choose one cheese fondue per cooktop at your
            table.</p>
        <h5>Cheddar</h5>
        <p>Aged, medium-sharp cheddar and Emmenthaler Swiss cheeses, lager beer, garlic and seasonings.</p>
        <h5>Classic Alpine</h5>
        <p>Aged Gruyère, Raclette and fontina cheeses blended with white wine and fresh garlic and finished with a dash of nutmeg. </p>
        <h5>Spinach Artichoke </h5>
        <p>Fontina and Butterkäse cheeses, spinach, artichoke hearts and garlic.</p>
        <h5>Premium Cheese Fondue Dippers</h5>
        <p>Complement any of our award-winning cheese fondues with a selection of artisanal Italian meats. Ask your server for details!</p>
    </div>
</div>