<div class="row">
    <div class="col-sm-12 sub_menu">
        <h3>Chocolate Fondue</h3>
        <p>Experience the perfect fondue finale with decadent chocolate fondue creations.</p>
        <h5>Dippers</h5>
        <p>Each chocolate fondue comes with fresh strawberries, blondies, bananas, pineapple, marshmallow treats, pound cake, and brownies.</p>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cooking_style">
            <h5>The Original</h5>
            <p>Our original milk chocolate fondue swirled with crunchy
                peanut butter.</p>
            <h5>Pure Chocolate</h5>
            <p>For the fondue purist, we offer milk, dark or white chocolate melted to decadent perfection.</p>
            <h5>Create Your Own</h5>
            <p>Feeling creative? You make the culinary call by selecting from milk, dark or white chocolate and adding Disaronno, Baileys,
                Cointreau, Grand Marnier, Chambord or Tuaca.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cooking_style">
            <h5>Flaming Turtle</h5>
            <p>We consider it fondue candy. It’s an irresistible combination of milk chocolate, caramel and candied pecans flambéed tableside.</p>
            <h5>Chocolate S'mores</h5>
            <p>The fondue version of this classic presents milk chocolate with marshmallow cream, flambéed and topped with bits of graham
                crackers.</p>
            <h5>Yin & Yang</h5>
            <p>This fondue satisfies dark and white chocolate cravings in an artfully balanced fondue dessert.</p>
        </div>
    </div>
</div>