<div class="row">
    <div class="col-sm-12 sub_menu">
        <h4>4-Course Experience</h4>
        <ol>
            <li>Select one cheese fondue per cooktop.</li>
            <li>Select your individual salad.</li>
            <li>Select your individual entrée from below.</li>
            <li>Select one chocolate fondue per cooktop.</li>
        </ol>
        <h4>The Classic</h4>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cooking_style">
            <p>Our most popular combination! Certified Angus Beef® sirloin, Memphis-style BBQ pork medallion, Pacific white shrimp, herb-crusted
                all-natural breast of chicken, and teriyaki-marinated sirloin.</p>
            <h5>Good Earth Vegetarian</h5>
            <p>A selection of fresh vegetables including edamame or onion rings, artichoke hearts, baby Portobello mushrooms,
                and asparagus served with Thai peanut-marinated tofu,spinach and artichoke ravioli and wild mushroom sacchetti.</p>
            <h5>French Quarter</h5>
            <p>Premium filet mignon, all-natural breast of chicken, and Pacific white shrimp seasoned with Cajun spices and accompanied by
                flavorful Andouille sausage.</p>
            <h5>Pacific Rim</h5>
            <p>Teriyaki-marinated sirloin, honey orange duck breast,Pacific white shrimp, and chicken potstickers.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cooking_style">
            <h5>Land And Sea</h5>
            <p>Premium filet mignon, herb-crusted chicken, and Pacific white shrimp.</p>
            <h5>Steak Lovers</h5>
            <p>Premium filet mignon, teriyaki-marinated sirloin, and Certified Angus Beef® sirloin.</p>
            <h5>Fondue Fusion</h5>
            <p>Cold water lobster tail accompanied by teriyaki-marinated sirloin, Memphis-style BBQ pork medallion, honey orange duck breast,
                and wild mushroom sacchetti.</p>
            <h5>Fondue Delight</h5>
            <p>Premium filet mignon and a succulent cold water lobster tail paired with all-natural breast of chicken, Pacific white
                shrimp, and wild mushroom sacchetti.</p>
            <h5>Surf And Turf</h5>
            <p>A succulent cold water lobster tail paired with premium filet mignon and wild mushroom sacchetti.</p>
        </div>
        <h4>Entrée Cooking Styles</h4>
        <p>Our entrées can be prepared with any of the premium cooking styles listed below.</p>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cooking_style">
            <h5>Seasoned Court Bouillon</h5>
            <p>Fresh seasoned vegetable broth. Complimentary.</p>
            <h5>Coq Au Vin</h5>
            <p>Burgundy wine infused with fresh herbs, spices and mushrooms.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cooking_style">
            <h5>Mojo</h5>
            <p>Caribbean-seasoned bouillon with a distinctive fresh-garlic flavor and a citrus flair.</p>
            <h5>Bourguignonne</h5>
            <p>European-style fondue in cholesterol-free / 0g trans-fat canola oil. Served with tempura and sesame batters.</p>
        </div>
        <h4>Entree Sauces</h4>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cooking_style">
            <h5>Curry</h5>
            <p>A mild, yogurt-based curry that complements fresh vegetables and salmon.</p>
            <h5>Green Goddess</h5>
            <p>A blend of cream cheese, sour cream, onions, chives and parsley that pairs great with vegetables and makes an
                excellent stuffed mushroom.</p>
            <h5>Teriyaki Glaze</h5>
            <p>A teriyaki glaze with garlic, ginger and onions that is outstanding with our steak items.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cooking_style">
            <h5>Gorgonzola Port</h5>
            <p>A rich and robust cheese sauce that pairs well with filet mignon and fresh vegetables.</p>
            <h5>Ginger Plum</h5>
            <p>Our own unique recipe with red and green bell peppers, ginger and just a hint of plum that is delicious on chicken and shrimp.</p>
        </div>
    </div>
</div>