<div class="row">
    <div class="col-xs-12">
        <img src="images/home.jpg" alt="Home page image" style="width:100%" />
    </div> <!-- / col -->
    <div class="col-xs-12">
        <h2>Experience The Fondue Effect at Fondue Fun</h2>
        <p>We invite you to customize your fondue experience any way you like. Our menu allows you to order 1, 2, 3 or more courses.
            Whether you’re craving a duet of cheese and chocolate fondue or want to experience all four courses, we’ve got you covered.</p>
        <h3>Cheese Fondue</h3>
        <p>Our creamy cheese fondues are prepared tableside. Each cheese is served with artisan breads and seasonal vegetables for dipping.</p>
        <h3>Salad</h3>
        <p>Our fresh salads feature The Melting Pot’s signature dressings.</p>
        <h3>Entrée</h3>
        <p>From ravioli to filet mignon, we’ve got an option for everyone. Our entrées are cooked at the table in one of our four premium cooking
            styles and are served with seasonal vegetables and our signature dipping sauces.</p>
        <h3>Chocolate Fondue</h3>
        <p>The fondue experience wouldn’t be complete without chocolate fondue for dessert!</p>
    </div>
</div> <!-- / row -->