<div class="row">
    <div class="col-xs-12">
        <img src="images/final.jpg" alt="Cheese Fondue" style="width:100%;" />
    </div>
    <div class="col-sm-12" >
        <ul class="nav nav-pills">
            <li><a ui-sref="app.menu">CHEESE FONDUE</a></li>
            <li><a ui-sref="app.menu.salads">SALADS</a></li>
            <li><a ui-sref="app.menu.individual_entrees">ENTREES</a></li>
            <li><a ui-sref="app.menu.four_course_experience">4-COURSE EXPERIENCE</a></li>
            <li><a ui-sref="app.menu.chocolate_fondue">CHOCOLATE FONDUE</a></li>
            <li><a ui-sref="app.menu.gluten_free_menu">GLUTEN-FREE MENU</a></li>
        </ul>
    </div>
</div>