<div class="row" ng-show="owner.loginpage">
    <div class="col-xs-12">
        <h3>Administrator login</h3>
        <form class="form-horizontal" ng-submit="owner.verifyOwner()">
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Email</label>
                <div class="col-xs-4">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="owner.emailid">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label col-xs-2">Password</label>
                <div class="col-xs-4">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="owner.passwd">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <button type='submit' class='btn btn-primary'>
                       Login
                    </button>
                </div>
            </div>
        </form>
    </div> <!-- / col -->
</div> <!-- / row -->

<div ng-show="owner.loginsuccessful">
    <a ui-sref="app.owner.viewReservations"><input type="button" class='btn btn-primary' value="Click here to view admin operations"/></a>
</div>
