<div class="row">
    <div class="col-sm-8 col-md-9 col-lg-12 sub_menu">
        <h4>Salads</h4>
        <h5>Caesar Salad</h5>
        <p>Crisp romaine lettuce, shredded Parmesan cheese, crispy croutons and an added touch of Parmesan-encrusted pine nuts, tossed
            with Caesar dressing.</p>
        <h5>The Melting Pot House Salad</h5>
        <p>Crisp romaine and iceberg lettuce, cheddar cheese, fresh tomatoes, crispy croutons and sliced egg with your choice of Peppercorn Ranch Dressing or our
            sweet and tangy House Dressing.</p>
        <h5>California Salad</h5>
        <p>Mixed baby salad greens, Roma tomatoes, candied pecans and Gorgonzola cheese with Raspberry Black Walnut Vinaigrette.</p>
    </div>
</div>