<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h4>Displays seating area</h4>
        <h4>When admin clicks on seating options listed below, he will be directed to a page which displays number of tables occupied
            along with reservation details </h4>
        <h4>Round Tables</h4>
        <img src='images/round_table_for_4.png' id='img1' width='200px' height='200px'/> &nbsp
        <img src='images/round_table_for_6.png' id='img2' width='200px' height='200px'/> &nbsp
        <img src='images/round_table_for_8.png' id='img3' width='200px' height='200px'/> &nbsp

        <h4>Rectangular Tables</h4>
        <img src='images/table_2.png' id='img1' width='200px' height='200px'/> &nbsp
        <img src='images/table_4.png' id='img2' width='200px' height='200px'/> &nbsp
        <img src='images/table_6.png' id='img3' width='200px' height='200px'/> &nbsp
    </div>
</div>